<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular</title>
    <script src="js/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="myCtrl">
    <input type="text" ng-model="iptValue">
    <button ng-click="click()">计算</button>
</div>
</body>
</html>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCtrl",function ($window,$scope) {
        $scope.iptValue="";
        $scope.click=function () {
            $window.alert($scope.iptValue);
        }
    })
</script>