<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular</title>
    <script src="js/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="myCtrl">
    <div>执行JavaScript表达式：</div>
    <input type="text" ng-model="jsData"><button ng-click="jsPlus(jsData)">计算</button>
    <br>
    <div>执行angular表达式：</div>
    <input type="text" ng-model="anData"><span>{{$eval(anData)}}</span>
</div>
</body>
</html>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCtrl",function ($scope) {
        $scope.jsData=20;
        $scope.anData="20+1|number:0";
        $scope.jsPlus=function (a) {
            console.log(parseInt(a)+1);
        };

    })
</script>