<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <script src="js/angular.min.js"></script>
</head>
<body ng-app="myApp">
<form ng-controller="myCtrl" name="temp_form" ng-submit="save()">
    <div>
        <input type="text" name="t_name" ng-model="name" required>
        <span ng-show="temp_form.t_name.$error.required">姓名不能为空！</span>
    </div>
    <div>
        <input type="email" name="t_email" ng-model="email" required>
        <span ng-show="temp_form.t_email.$error.required">邮件格式不能为空！</span>
        <span ng-show="temp_form.t_email.$error.email">邮件格式不正确！</span>
    </div>
    <input type="submit" value="提交" ng-disabled="temp_form.$invalid">
</form>
</body>
</html>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCtrl",function ($scope) {
        $scope.name="yihu";
        $scope.email="yihoo2016@sina.com";
        $scope.save=function () {
            alert('数据已经提交成功！')

        }
    })
</script>