<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promise</title>
    <script src="js/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="myCtrl">
    <div>{{preContent}}</div>
    <div>{{content}}</div>
    <button ng-click="show(true)">接受</button>
    <button ng-click="show(false)">拒绝</button>
</div>
</body>
</html>
<script>
    var app = angular.module("myApp",[])
        .controller("myCtrl", function ($scope, $q) {
            var defer = $q.defer();
            $scope.show=function (type) {
                defer.notify(0);
                type?defer.resolve(1):defer.reject(1);
            };
            var promise=defer.promise;
            promise.then(function (n) {
                n++;
                $scope.content="接受处理"+n;
            },function (n) {
                n++;
                $scope.content="拒绝处理"+n;
            },function (n) {
                n++;
                $scope.preContent="正在处理"+n;
            })
        })
</script>